doctype html
html
  head
    title Mi página dinámica con Pug
    link(rel="stylesheet", href="/css/styles.css")
  body
    h1 Hola, #{nombre}!
    script(src="/js/main.js")
    
    // Botones de navegación
    a(href="/pug") Ir a Pug
    a(href="/ejs") Ir a EJS
    a(href="/miplantilla-pug") Ir a Mi Plantilla Pug
    a(href="/miplantilla-ejs") Ir a Mi Plantilla EJS
    a(href="/perfil/Cayo") Ir a Perfil
