<!DOCTYPE html>
<html>
<head>
  <title>Mi página dinámica con EJS</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Hola, <%= nombre %>!</h1>
  <script src="/js/main.js"></script>

  <!-- Botones de navegación -->
  <a href="/pug">Ir a Pug</a>
  <a href="/ejs">Ir a EJS</a>
  <a href="/miplantilla-pug">Ir a Mi Plantilla Pug</a>
  <a href="/miplantilla-ejs">Ir a Mi Plantilla EJS</a>
  <a href="/perfil/Cayo">Ir a Perfil</a>
</body>
</html>
